@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.leaflet-routing-add-waypoint {
  width: 50px
}

.leftlet-top .leaflet-right {
  padding-left: 20px;
  padding-bottom: 20px;
}

.leaflet-routing-geocoder {
  font-size: 13px;
}

/* .leaflet-routing-container, .leaflet-routing-error {
  width: 360px;
  background-color: white;
  padding-top: 4px;
  transition: all 0.2s ease;
  box-sizing: border-box;
} */

input {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
